/* pt-serif-caption-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'PT Serif Caption';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/pt-serif-caption/pt-serif-caption-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#PTSerifCaption') format('svg'); /* Legacy iOS */
  }