/* rubik-500 - latin_cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-regular - latin_cyrillic */
  @font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin_cyrillic */
  @font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-900 - latin_cyrillic */
  @font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Rubik/rubik-v10-latin_cyrillic-900.svg#Rubik') format('svg'); /* Legacy iOS */
  }