@charset "UTF-8";

/* Панель в клиентском разделе */
.hostcmsPanel *, .hostcmsSection, .hostcmsSection * { box-sizing: border-box }
.hostcmsPanel *::after, .hostcmsPanel *::before { box-sizing: border-box }
.hostcmsPanel{ padding: 10px; box-shadow: 0 0 5px rgba(100, 100, 100, 0.60); border-radius: 10px; zoom: 1; z-index: 10001; position: absolute; margin-top: 5px; background-color: #FFF; cursor: move; opacity: .9; line-height: normal; font-family: Arial,sans-serif; font-size: 10pt }
.hostcmsPanel img { vertical-align: baseline }
.hostcmsPanel a:link,.hostcmsPanel a:visited,.hostcmsPanel a:hover{color:#0070BD;text-decoration:underline}
.hostcmsPanel .hostcmsSubPanel{ margin-bottom: -4px; white-space: nowrap}
.hostcmsPanel .hostcmsSubPanel a img{margin: 0 2px !important; cursor: pointer; max-width: 16px !important; max-height: 16px !important }
.hostcmsTopPanel{left:50%;margin-left:-110px;top:0}
/* Панель для XSL */
.hostcmsXsl {margin: 3px 0}
.hostcmsXsl div.hostcmsButton {border-top: 1px solid #DFDDD8; border-right: 1px solid #D1D0CB;
	border-bottom: 1px solid #ACAAA6; border-left: 1px solid #D1D0CB;
	color: #5A6973; font-size: 8pt; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	background: -moz-linear-gradient(90deg, #EFEEEA, #F6F5F3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, center top, center bottom, from(#EFEEEA), to(#F6F5F3));
	box-shadow: 0 1px 0 #EFEEEA; display: inline-block; margin: -1px 2px 0; padding: 0 3px 0 2px; vertical-align: top; height: 17px;
}
.hostcmsXsl div.hostcmsButton div {margin-top: 1px; font-weight: bold; vertical-align: top; display: inline-block; }

ul.tpl-template-variables { list-style-type: none; padding-left: 20px;}
ul.tpl-template-variables span.bold { font-weight: bold; }

/*.hostcmsWindowUI {position: absolute; z-index: 999;}*/
.hostcmsWindow { -webkit-overflow-scrolling: touch; overflow-y: scroll } /* Scroll IFRAMEs on iOS */
.hostcmsWindow, .hostcmsWindow textarea {font-family:Arial,Verdana,'MS Sans Serif'; line-height: normal }
.hostcmsWindow iframe { box-sizing: border-box; width: 100%; height: 100%; border: 0 }
.hostcmsWindow .hostcmsModalWindow { line-height: 110%; font-size: 10pt; color:#000; padding: 5px 10px }
.hostcmsWindow .hostcmsModalWindow ul { margin: 0; padding: 0 0 0 3em }
.hostcmsWindow .hostcmsModalWindow ul li {list-style: initial; width: initial; }
.hostcmsWindow textarea { box-sizing: border-box; resize: none; white-space:pre; font-size: 10pt !important; margin: 0; padding: 2px; overflow: auto; width: 99%; height: 99%; border: 0; line-height: 1em !important }

/* SQL */
.hostcmsWindow .sql_q,.hostcmsWindow .sql_qd{font-size:8pt;background-color:#F6F7EF;border:1px dashed #98D800;white-space:pre-wrap;color:#000;padding:5px}
.hostcmsWindow .sql_qd{background-color:#F8EEE7;border:1px dashed #D80000}
.hostcmsWindow .sql_t,.hostcmsWindow .sql_t a,.hostcmsWindow .sql_t a:link,.hostcmsWindow .sql_t a:hover,.hostcmsWindow .sql_t a:visited{font-size:8pt;color:#555; cursor: pointer}
.hostcmsWindow .sql_db{font-size:8pt;color:#777;white-space:pre-wrap;display:none}
.hostcmsWindow table.sql_explain{empty-cells:show;margin:1px}
.hostcmsWindow table.sql_explain,.hostcmsWindow table.sql_explain td{border:1px solid #AAA;border-collapse:collapse}
.hostcmsWindow table.sql_explain td{font-size:8pt;color:#333;padding:0 2px}

/* Editable */
.hostcmsEditable {border: 1px dashed #E83531 !important; border-radius: 5px !important; box-shadow:  1px 1px 1px 0px rgba(100, 100, 100, 0.1) !important; cursor: pointer !important }

/*! jQuery UI - v1.11.4
* http://jqueryui.com
* Includes: core.css, draggable.css, resizable.css, button.css, dialog.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.backendBody .ui-helper-hidden {
	display: none;
}
.backendBody .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.backendBody .ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.backendBody .ui-helper-clearfix:before,
.backendBody .ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.backendBody .ui-helper-clearfix:after {
	clear: both;
}
.backendBody .ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.backendBody .ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.backendBody .ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.backendBody .ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.backendBody .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.backendBody .ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.backendBody .ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.backendBody .ui-resizable {
	position: relative;
}
.backendBody .ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.backendBody .ui-resizable-disabled .ui-resizable-handle,
.backendBody .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.backendBody .ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.backendBody .ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.backendBody .ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.backendBody .ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.backendBody .ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.backendBody .ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.backendBody .ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.backendBody .ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.backendBody .ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.backendBody .ui-button,
.backendBody .ui-button:link,
.backendBody .ui-button:visited,
.backendBody .ui-button:hover,
.backendBody .ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.backendBody .ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.backendBody .ui-button-icon-only {
	width: 2.4em;
}
.backendBody .ui-button-icons-only {
	width: 3.4em;
}
button.backendBody .ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.backendBody .ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.backendBody .ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.backendBody .ui-button-icon-only .ui-button-text,
.backendBody .ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.backendBody .ui-button-text-icon-primary .ui-button-text,
.backendBody .ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.backendBody .ui-button-text-icon-secondary .ui-button-text,
.backendBody .ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.backendBody .ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.backendBody .ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.backendBody .ui-button-icon-only .ui-icon,
.backendBody .ui-button-text-icon-primary .ui-icon,
.backendBody .ui-button-text-icon-secondary .ui-icon,
.backendBody .ui-button-text-icons .ui-icon,
.backendBody .ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.backendBody .ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.backendBody .ui-button-text-icon-primary .ui-button-icon-primary,
.backendBody .ui-button-text-icons .ui-button-icon-primary,
.backendBody .ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.backendBody .ui-button-text-icon-secondary .ui-button-icon-secondary,
.backendBody .ui-button-text-icons .ui-button-icon-secondary,
.backendBody .ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.backendBody .ui-buttonset {
	margin-right: 7px;
}
.backendBody .ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.backendBody .ui-button::-moz-focus-inner,
button.backendBody .ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.backendBody .ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.backendBody .ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
	line-height: normal;
}
.backendBody .ui-dialog .ui-dialog-titlebar button {
	background: none !important
}
.backendBody .ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.backendBody .ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.backendBody .ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.backendBody .ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.backendBody .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.backendBody .ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.backendBody .ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.backendBody .ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

/* -- Added -- */
.backendBody .ui-dialog {background-color: #FFF; border: 1px solid #D8D8D8; border-radius: 9px; box-shadow: 0 2px 2px rgba(204, 204, 204, 0.7); padding: 0; z-index: 11000 }
.backendBody .ui-dialog-content-transparent{ background: #FFF; padding-top: 2px; background: url("images/transparent_bg_white.png") repeat scroll 0 0 transparent
}
.backendBody .ui-dialog .ui-dialog-titlebar {  box-sizing: border-box; user-select: none; padding: .4em .5em;
background: #F2F2F2 !important; font-size: 10pt;
font-family: Arial, Verdana, 'MS Sans Serif', sans-serif !important;
border-width: 0px 0px 1px 0px; border-color: #F2F2F2;
text-align: center; border-radius: 9px 9px 0 0; box-sizing: border-box; }
.backendBody .ui-dialog .ui-dialog-title { color: #000; font-weight: bold; margin: .1em 16px .2em 0; text-shadow: 1px 1px 0 rgba(255,255,255,0.8); white-space: nowrap }
.backendBody .ui-dialog .ui-dialog-content {  box-sizing: border-box; background: #FFF; border-radius: 0 0 9px 9px; padding: 0 0 0.3em 0 }

.backendBody .ui-dialog .ui-dialog-titlebar .ui-button-icon-only { background: none; border: 0 }
.backendBody .ui-dialog .ui-dialog-content iframe {  box-sizing: border-box; }
.backendBody .ui-draggable-dragging {opacity: 0.5; box-shadow: none !important}
.backendBody .ui-draggable-dragging .ui-dialog-content {display: none !important}

/* states and images */
.backendBody .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png) !important }
.backendBody .ui-icon-closethick { background-position: -96px -128px; }

/* Sections */
.backendBody .hostcmsSection {
	border: 1px dashed rgba(45, 195, 232, .8);
}

.backendBody .hostcmsSection:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.backendBody .hostcmsSection, .backendBody .hostcmsSection .hostcmsSectionWidget { position: relative; }
.backendBody .hostcmsSection .hostcmsSectionPanel, .backendBody .hostcmsSection .hostcmsSectionWidgetPanel {
	background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(100, 100, 100, 0.6);
	left: -15px;
	padding: 5px;
	position: absolute;
	z-index: 10002;
	cursor: move;
	font-size: 10pt;
	line-height: 1em;
}
.backendBody .hostcmsSection .hostcmsSectionPanel div, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel div { padding: 5px 5px 0 5px; }
.backendBody .hostcmsSection .hostcmsSectionPanel i, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel i { color: #5a636a; font-size: 14px; }
.backendBody .hostcmsSection .hostcmsSectionPanel .draggable-indicator, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel  .draggable-indicator {
	width: 16px;
	height: 8px;
	right: 0.5em;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 1px 0;
}
.backendBody .hostcmsSection .hostcmsSectionPanel .draggable-indicator rect, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel rect {
	fill: #ccc;
}
.backendBody .hostcmsSection .hostcmsSectionPanel .fa-plus { color: #5eba16 }
.backendBody .hostcmsSection .hostcmsSectionPanel .fa-cog, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel .fa-cog, .backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel .fa-lightbulb-o { color: #a2a2a2 }
.backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel .fa-times { color: #f55555 }
.backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel .fa-lightbulb-o.active { color: #fabb00 }

/* Section Widgets */
.backendBody .hostcmsSection .hostcmsSectionWidget { border: 1px dashed #ccc; }
.backendBody .hostcmsSectionWidget .hostcmsSectionWidgetPanel span { cursor: pointer }

.backendBody .hostcmsSection .hostcmsSectionWidget .drag-handle {
    background-color: #ccc;
    position: absolute;
    right: 0;
    top: 0;
	cursor: grab;
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(100, 100, 100, 0.6);
	z-index: 10002;
	width: 22px;
}
.backendBody .hostcmsSection .hostcmsSectionWidget .drag-handle i {
	padding: 5px;
	color: #a2a2a2;
}

/*#region ColorPicker*/
.minicolors {
  position: relative;
}
.minicolors-swatch {
  position: absolute;
  vertical-align: middle;
  background: url(images/jquery.minicolors.png) -80px 0;
  border: solid 1px #fbfbfb;
  cursor: text;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.minicolors-swatch-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.minicolors input[type=hidden] + .minicolors-swatch {
  width: 28px;
  position: static;
  cursor: pointer;
}
/* Panel */
.minicolors-panel {
  position: absolute;
  width: 173px;
  height: 152px;
  background: white;
  border: solid 1px #CCC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
}
.minicolors-panel.minicolors-visible {
  display: block;
}
/* Panel positioning */
.minicolors-position-top .minicolors-panel {
  top: -154px;
}
.minicolors-position-right .minicolors-panel {
  right: 0;
}
.minicolors-position-bottom .minicolors-panel {
  top: auto;
}
.minicolors-position-left .minicolors-panel {
  left: 0;
}
.minicolors-with-opacity .minicolors-panel {
  width: 194px;
}
.minicolors .minicolors-grid {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 150px;
  background: url(images/jquery.minicolors.png) -120px 0;
  cursor: crosshair;
}
.minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: none;
}
.minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}
.minicolors-slider-saturation .minicolors-grid-inner {
  background: url(images/jquery.minicolors.png) -270px 0;
}
.minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}
.minicolors-slider-brightness .minicolors-grid-inner {
  background: #000000;
}
.minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}
.minicolors-slider,
.minicolors-opacity-slider {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 20px;
  height: 150px;
  background: #ffffff url(images/jquery.minicolors.png) 0 0;
  cursor: row-resize;
}
.minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}
.minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}
.minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}
/* Pickers */
.minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 12px;
  height: 12px;
  border: solid 1px #000000;
  border-radius: 10px;
  margin-top: -6px;
  margin-left: -6px;
  background: none;
}
.minicolors-grid .minicolors-picker > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: solid 2px #ffffff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: #ffffff;
  border: solid 1px #000000;
  margin-top: -2px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Inline controls */
.minicolors-inline {
  display: inline-block;
}
.minicolors-inline .minicolors-input {
  display: none !important;
}
.minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
  z-index: auto;
  display: inline-block;
}
/* Bootstrap theme */
.minicolors-theme-bootstrap .minicolors-swatch {
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
  left: auto;
  right: 3px;
}
.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 44px;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
  padding-right: 44px;
  padding-left: 12px;
}
.dropdown-colorpicker {
  height: 35px;
  width: 35px;
  padding: 7px;
}
.dropdown-colorpicker > .dropdown-menu {
  top: 100%;
  left: 0;
  padding: 4px;
  min-width: 154px;
  max-width: 154px;
}
.dropdown-colorpicker > .dropdown-menu > li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
}
.dropdown-colorpicker > .dropdown-menu > li > .colorpick-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  position: relative;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.dropdown-colorpicker > .dropdown-menu > li > .colorpick-btn:hover {
  text-decoration: none;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
.dropdown-colorpicker > .dropdown-menu > li > .colorpick-btn.selected:after {
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 11px;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
}
.btn-colorpicker {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #DDD;
  vertical-align: middle;
  border-radius: 0;
}
/*#endregion ColorPicker*/

/* Left slide panel */
.backendBody .template-settings {
	background: rgba(0, 0, 0, .75) none repeat scroll 0 0;
	border-radius: 5px 0 0 5px;
	color: #333;
	font-size: 18px;
	right: 0;
	padding: 5px;
	position: fixed;
	top: 367px;
	transition-duration: 0.4s;
	width: 32px;
	z-index: 11000;
	color: #fff;
}
.backendBody .template-settings.show {
	right: 300px;
}
.backendBody .template-settings:hover {
	cursor: pointer;
}
.backendBody .template-settings .slidepanel {
	font-family: Arial, sans-serif;
	position: fixed;
	top: 0;
	right: -305px;
	background: rgba(0, 0, 0, .75) none repeat scroll 0 0;
	color: #a2a2a2;
	width: 300px;
	padding: 10px 0;
	z-index: 11000;
	font-size: 12px;
	color: #fff;
	height: 100%;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
.backendBody .template-settings.show .slidepanel {
	right: 0;
}

.backendBody .template-settings .slidepanel .panel-item { margin-bottom: 10px; }
.backendBody .template-settings .slidepanel .panel-item label { font-weight: 400; }

.backendBody .template-settings .slidepanel .panel-section-heading { margin-top: 10px; margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid rgba(211, 211, 211, 0.17); padding-bottom: 5px; }

.backendBody .template-settings .slidepanel .panel-heading { background: rgba(248, 248, 248, 0.19) none repeat scroll 0 0;  margin-bottom: 5px; border-radius: 0; color: #fff; font-weight: bold; text-align: center; }

.ui-dialog.xmlWindow .ui-dialog-titlebar-maximize {
	position: absolute;
	right: 2em; /* This puts the help button along the close one, so change it accordingly */
	top: 50%;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
}
.backendBody.bodyMaximize { overflow: hidden; }
.xmlWindow textarea { width: 100% !important; padding: 5px; }