<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content main-picture__content_inner-page">
            <div class="max-width mt-0">
                <div class="main-picture__content-text main-picture__content-text_inner-page">
                    <?php Core_Entity::factory('Document',10)->execute(); ?>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="page-content content-bg">
		<div class="max-width-content">
			<?php Core_Entity::factory('Document',11)->execute(); ?>
			<p class="mt-5 mb-3">
				<a id="phoneCounsultation" href="consultation.html#phoneConsultations" class="h1-size text-link">Консультирование по телефону</a>
			</p>
			<p>
				<a id="onlineCounsultation" href="consultation.html#onlineConsultations" class="h1-size text-link">Онлайн и видеоконсультации</a>
			</p>
		</div>
		<div class="contact-location-list">
			<div class="contact-location" id="rostov">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Ростов-на-Дону
							</h2>
							<?php Core_Entity::factory('Document',12)->execute(); ?>

						</div>
						<div class="col-md-7 col-lg-7 contact-location__column map-container">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa36b4534a6aeafdf1083212047d03077a40379071eb4a4e4b703f5123b50c8dc&amp;source=constructor&amp;lang=ru_RU&amp;scroll=false"></script>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-location" id="krasnodar">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Краснодар
							</h2>
							<?php Core_Entity::factory('Document',13)->execute(); ?>
						</div>
						<div class="col-md-7 col-lg-7 contact-location__column map-container">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A56cac2b9770711f32cf0a289ed125b4181683078f421763975ef07437d726785&amp;source=constructor&amp;lang=ru_RU&amp;scroll=false"></script>
						</div>
					</div>
				</div>
			</div>
			<div id="yeisk" class="contact-location">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Ейск
							</h2>
							<?php Core_Entity::factory('Document',14)->execute(); ?>
						</div>
						<div class="col-md-7 col-lg-7 contact-location__column map-container">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A44453d7930f5fcfcc984776852f955d49588872fa21c39673062ee84e2d5df0a&amp;source=constructor&amp;lang=ru_RU&amp;scroll=false"></script>
						</div>
					</div>
				</div>
			</div>
			<div id="makhachkala" class="contact-location">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Махачкала
							</h2>
							<?php Core_Entity::factory('Document',15)->execute(); ?>
						</div>
						<div class="col-md-7 col-lg-7 contact-location__column map-container">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A726c1a73afe51b918fb859e383d05377c305086fac19c790dd5275dc837f802e&amp;source=constructor&amp;lang=ru_RU&amp;scroll=false"></script>
						</div>
					</div>
				</div>
			</div>
			<div id="astrakhan" class="contact-location">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Астрахань
							</h2>
							<?php Core_Entity::factory('Document',16)->execute(); ?>
						</div>
						<div class="col-md-7 col-lg-7 contact-location__column map-container">
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ff5d0e12682340e29c9f073f19b47c791626505c5eb55c25931a9ae2f989575&amp;source=constructor&amp;lang=ru_RU&amp;scroll=false"></script>
						</div>
					</div>
				</div>
			</div>
			<div id="taganrog" class="contact-location">
				<div class="max-width-content">
					<div class="row">
						<div class="col-md-5 col-lg-5 contact-location__column">
							<h2 class="contact-location__title">
								Таганрог
							</h2>
							<?php Core_Entity::factory('Document',17)->execute(); ?>
						</div>
						<div id="mapTaganrog" class="col-md-7 col-lg-7 contact-location__column map-container">
							
						</div>
                        <script src="https://api-maps.yandex.ru/2.0-stable/?apikey=6e9bc9b4-d322-4f85-bc3e-c83ee48da4d9&load=package.standard&lang=ru-RU" type="text/javascript"></script>
                        <script type="text/javascript">
                            ymaps.ready(mapInit);
                    
                            function mapInit() {
                                var map = new ymaps.Map('mapTaganrog', {
                                    center: [47.207093, 38.942115],
                                    zoom: 17
                                });
                    
                                var placemark = new ymaps.Placemark([47.207192, 38.945453], {
                                    hintContent: 'переулок Гарибалди, 6',
                                    balloonContent: 'переулок Гарибалди, 6'
                                }, {
                                    preset: 'twirl#redIcon',
                                });
                    
                                map.hint.show([47.207508, 38.945553], "переулок Гарибалди, 6", {
                    
                                });
                    
                                
                                map.geoObjects.add(placemark);
                    
                                ymapsTouchScroll(map);
                                }
                    
                    
                        </script>
					</div>
				</div>
			</div>
		</div>
	</div>