.header-address p{
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
}

.main-picture__content-text i{
    font-size: 18px !important;
    color:#ffffff;
}

.achievements__item p{
    color:#ffffff;
}

.articles-tabs-content.atc-mainpage ul li{
    color:#000000 !important;
}

.mainpage-video-item p{
    margin-bottom: 5px;
    margin-top:5px;
}

.mainpage-video-item .title{
    font-size: 16px;
}

#pills-video button{
    background:none;
    border:none;
}

#pills-video button:hover{
    background:rgba(255,255,255,0.5);
}

#pills-video .carousel-control-prev, #pills-video .carousel-control-next{
    width: 60px;
}

