<?php
    $structure = Core_Entity::factory('Structure',CURRENT_STRUCTURE_ID);
?>
<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content main-picture__content_inner-page">
            <!-- <img src="img/slide-1.jpg" alt=""> -->
            <div class="max-width mt-0">
                <div class="main-picture__content-text main-picture__content-text_inner-page">
                    <h1 class="main-picture__content-title">
                        <?php
                          if($structure->parent_id!=0)
                          {
                            $parent = Core_Entity::factory('Structure',$structure->parent_id);
                            echo $parent->name; ?>

                            <div class="bread-crumbs">
                                <?php echo $structure->name; ?>
                                
                            </div>
                        <?php
                          }
                          else{
                             echo $structure->name;
                          }
                          // Если показ информационной системы
                          if (is_object(Core_Page::instance()->object)
                          && get_class(Core_Page::instance()->object) == 'Informationsystem_Controller_Show')
                          {
                              // Объект информационной системы
                              $oInformationsystem = Core_Page::instance()->object->getEntity();
                              
                              // Идентификатор информационной системы
                              var_dump($oInformationsystem->id);
                          
                              // Текущая группа информационной системы
                              echo Core_Page::instance()->object->group->name;
                              
                          }
                        ?>
                    </h1>

<?php

$oProperty = Core_Entity::factory('Property', 1);
$aPropertyValues = $oProperty->getValues(CURRENT_STRUCTURE_ID);
if(isset($aPropertyValues[0]->value) && $aPropertyValues[0]->value > 0){
    Core_Entity::factory('Document',$aPropertyValues[0]->value)->execute();
}

?>


                </div>
            </div>
        </section>
    </div>
</div>



<div class="page-content content-bg page-content_reviews">
			<div class="max-width-content">
				<div class="consultation-text_short">
					<div class="section-title section-title_consultation">
						КОНСУЛЬТАЦИЯ НЕЙРОХИРУРГА
					</div>
					<?php
                      Core_Entity::factory('Document',78)->execute();
                    ?>
				</div>
				<div class="section-title section-title_bold" id="faceTofaceConsultations">
					Очные консультации врача-нейрохирурга К.Г. Айрапетова
				</div>
			</div>
			<div>
				<div class="consultation-table">
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
                                <?php
                                Core_Entity::factory('Document',79)->execute();
                              ?>
							</div>
						</div>
					</div>
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
								<?php
                                Core_Entity::factory('Document',80)->execute();
                              ?>
							</div>
						</div>
					</div>
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
								<?php
                                Core_Entity::factory('Document',81)->execute();
                              ?>
							</div>
						</div>
					</div>
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
								<?php
                                Core_Entity::factory('Document',82)->execute();
                              ?>
							</div>
						</div>
					</div>
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
								<?php
                                Core_Entity::factory('Document',83)->execute();
                              ?>
							</div>
						</div>
					</div>
					<div class="consultation-table__row">
						<div class="max-width-content">
							<div class="row">
								<?php
                                Core_Entity::factory('Document',84)->execute();
                              ?>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="consultation-contacts-data">
				<div class="max-width-content">
					<div>
						<strong>Электронная почта:</strong> <a class="white-link"
							href="mailto:karen-neuro@yandex.ru">karen-neuro@yandex.ru</a>
					</div>
					<div>
						<strong>WhatsApp:</strong> <a class="white-link" href="tel:+79185538068">+ 7 (918) 553-80-68</a>
					</div>
					<div>
						<strong>Instagram:</strong> <a class="white-link" target="_blank"
							href="https://www.instagram.com/dr_airapetov/">dr_airapetov</a>
					</div>
					<div>
						<strong>Канал YouTube:</strong> <a class="white-link" target="_blank"
							href="https://youtube.com/channel/UC-PqpSrLUeiR-50aVK-V7eA">youtube.com/channel/UC-PqpSrLUeiR-50aVK-V7eA</a>
					</div>
				</div>
			</div>
			<div class="consultation consultation-by-phone">
				<div class="max-width-content text-sm-center">
					<div class="section-title section-title_bold" id="phoneConsultations">
						Консультирование по телефону
					</div>
					<p class="mb-4">
						(связаться очень просто прямым звонком)
					</p>
					<p class="mb-5">
						Консультирование по телефону – это наиболее частый вариант предварительного консультирования и оценки текущей ситуации по каждому пациенту. Собственно с телефонного звонка и начинается процесс диагностики и предварительного планирования лечения, производится запись на очные консультации, госпитализации.
					</p>
					<p class="pt-4">
						<strong>ВНИМАНИЕ!</strong> Наша клиника отличает от многих тем, что прямым звонком (<a class="text-nowrap" href="tel:+78632964227">+7 (863) 296-42-27</a>; <a  class="text-nowrap"  href="tel:+79286013601">+7 (928) 601-36-01</a>; <a  class="text-nowrap"  href="tel:+79064391508">+7 (906) 439-15-08</a>)  по мобильному или стационарному телефону вы сразу же и напрямую начинаете общение не каким-либо посредником, а с руководителем центра нейрохирургии РКБ, нейрохирургом высшей категории, доктором медицинских наук К.Г. Айрапетовым.
					</p>
					<p>
						<strong>Если Вы звоните по указанным выше телефонным номерам неоднократно, и никто не отвечает, это безусловно временно, так как руководитель центра скорее всего находится в операционной и просто физически не может Вам ответить.</strong><br> Не расстраивайтесь по этому поводу – Вам обязательно перезвонят!
					</p>
					<div class="section-title mt-5 pt-5">
						Для жителей некоторых регионов, где у нас есть <strong>филиалы</strong>,<br> возможно будут удобны звонки по местным телефонам:
					</div>
				</div>
				<div>
					<div class="consultation-table">
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей г. Таганрога Ростовской области
										</p>
									</div>
									<div class="col-md-8">
										<p>
											ТАГАНРОГСКАЯ ПОЛИКЛИНИКА ФГБУЗ ЮОМЦ ФМБА РОССИИ<br>
											347922, РО, г. Таганрог, пер. Гарибальди, 6
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<strong>регистратура:</strong><br>
											<a href="tel:+78634317600">+7 (8634) 31-76-00</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей г. Краснодара Краснодарского Края
										</p>
									</div>
									<div class="col-md-8">
										<p>
											КРАСНОДАРСКАЯ ПОЛИКЛИНИКА ФГБУЗ ЮОМЦ ФМБА РОССИИ <br>
											350063, Краснодарский Край, г. Краснодар, ул. Мира, 23
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<strong>регистратура:</strong><br>
											<a href="tel:+78612682381">+7 (861) 268-23-81</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей г. Ейска Краснодарского Края:
										</p>
									</div>
									<div class="col-md-8">
										<p>
											ЕЙСКАЯ ПОЛИКЛИНИКА ФГБУЗ ЮОМЦ ФМБА РОССИИ <br>
											353680, Краснодарский Край, г. Ейск, ул. К. Маркса, 16
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<strong>регистратура:</strong><br>
											<a href="tel:+78613238939">+7 (861-32) 3-89-39</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей Ставропольского Края
										</p>
									</div>
									<div class="col-md-8">
										<p>
											онлайн-филиал РКБ
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<a href="tel:+78652905065">+7 (865) 290-50-65</a><br>
											<a href="tel:+79624005065">+7 (962) 400-50-65</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей Республики Дагестан
										</p>
									</div>
									<div class="col-md-8">
										<p>
											МАХАЧКАЛИНСКАЯ КЛИНИЧЕСКАЯ БОЛЬНИЦА ФГБУЗ ЮОМЦ ФМБА РОССИИ <br>
											Дагестан, 367023, г. Махачкала, ул. Джамбулатова, 60А
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<strong>регистратура:</strong><br>
											<a href="tel:+78722691281">+7 (8722) 69-12-81</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="consultation-table__row">
							<div class="max-width-content">
								<div class="row">
									<div class="col-md-12 text-sm-center">
										<p class="bold">
											Для жителей Астраханской Области
										</p>
									</div>
									<div class="col-md-8">
										<p>
											АСТРАХАНСКАЯ КЛИНИЧЕСКАЯ БОЛЬНИЦА ФГБУЗ ЮОМЦ ФМБА РОССИИ <br>
											414016, г. Астрахань, ул. Чкалова, 80/95.
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<strong>зам. главного врача:</strong><br>
											<a href="tel:+78512523683">+7 (8512) 52-36-83</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="consultation consultation-online">
				<div class="max-width-content">
					<div class="section-title section-title_bold text-sm-center" id="onlineConsultations">
						Онлайн и видеоконсультации врача-нейрохирурга К.Г. Айрапетова
					</div>
					<p class="mb-5 mt-3">
						Онлайн-консультирование – очень удобный для наших пациентов вариант консультации врача- нейрохирурга через сайт или пересылкой информации в основном по электронной почте ( karen-neuro@yandex.ru ).
					</p>
					<div class="attention-message max-width-content">
						<p>
							<strong>
								ВНИМАНИЕ!
							</strong> Присылайте пожалуйста данные МРТ или СКТ-исследований по электронной почте ( karen-neuro@yandex.ru ) в виде архивированной папки МРТ/СКТ-диска в формате DICOM (это специальный цифровой формат просмотра и анализа медицинских изображений).
						</p>
						<p>
							<strong>
								Алгоритм действия:
							</strong> откройте диск МРТ- или СКТ-исследования на вашем компьютере, далее найдите папку, которая имеет соответствующее название (к примеру, DICOM, РА000000, ST00001), далее сархивируйте эту папку с помощью специальной программы архиватора (ZIP, RAR) и вышлите в виде привязки файлом или папкой на указанный выше электронный адрес. Кроме того, для просмотра доктором диска МРТ онлайн можно переслать на почту специальную интернет-ссылку, где хранятся изображения, например на яндекс-диске или в облаке. 
						</p>
						<p>
							<strong>
								Видеоконсультирование
							</strong> – это тоже очень удобный вариант консультации, особенно для отдаленных регионов, при невозможности приехать пациенту и родственникам на очный прием, это также важно, когда пациент не транспортабелен (лежачий больной), а определиться врачу визуально с клинической картиной заболевания крайне необходимо. Для такого вида консультирования очень удобен WhatsApp (+ 7-918-553-80-68).
						</p>
					</div>
				</div>
			</div>
		</div>

		<!--<div class="consultation-table__row" style="background:#ffffff">
			<div class="max-width-content">
				<div class="row">
					<div class="col-md-12 text-sm-center">
						<p class="bold">
							ЗАДАТЬ ВОПРОС
						</p>
					</div>
					
					<div class="col-md-4 offset-md-4">
						<form>
							<div class="form-group">
							  <label>Ваше имя*</label>
							  <input type="text" class="form-control" required="required">
							</div>
							<div class="form-group">
							  <label for="exampleInputPassword1">Ваш e-mail*</label>
							  <input type="email" class="form-control" required="required">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Тема</label>
								<input type="text" class="form-control">
							  </div>

							  <div class="form-group">
								<label for="exampleInputPassword1">Текст сообщения</label>
								<textarea class="form-control"></textarea>
							  </div>
							  <div class="form-group" style="text-align: center;">
							<button type="submit" class="btn btn-primary" style="background-color: #0d3d69; border:1px solid #0d3d69">Отправить</button>
							</div>
						  </form>
					</div>
		
		
				</div>
			</div>
		</div>-->