<?php
    $structure = Core_Entity::factory('Structure',CURRENT_STRUCTURE_ID);
?>
<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content main-picture__content_inner-page" style="background: url(/img/uc.jpg) no-repeat; background-position:center left">
            <div class="max-width mt-0">
                <div class="main-picture__content-text main-picture__content-text_inner-page">
    

                </div>
            </div>
        </section>
    </div>
</div>