<?php
    $structure = Core_Entity::factory('Structure',CURRENT_STRUCTURE_ID);
?>
<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content main-picture__content_inner-page">
            <!-- <img src="img/slide-1.jpg" alt=""> -->
            <div class="max-width mt-0">
                <div class="main-picture__content-text main-picture__content-text_inner-page">
                    <h1 class="main-picture__content-title">
                        <?php
                          if($structure->parent_id!=0)
                          {
                            $parent = Core_Entity::factory('Structure',$structure->parent_id);
                            echo $parent->name; ?>

                            <div class="bread-crumbs">
                                <?php 
															
															       // Если показ информационной системы
                          if (is_object(Core_Page::instance()->object)
                          && get_class(Core_Page::instance()->object) == 'Informationsystem_Controller_Show')
                          {
                          
                              if(Core_Page::instance()->object->group > 0)
									{
									 echo Core_Entity::factory('Informationsystem_Group',Core_Page::instance()->object->group)->name;
									}

                                    if(Core_Page::instance()->object->item > 0)
									{
									 echo "<br/>".Core_Entity::factory('Informationsystem_Item',Core_Page::instance()->object->item)->name;
									}
                             
                              
                          }
															
															?>
                                
                            </div>
                        <?php
                          }
                          else{
                             echo $structure->name;
                          }
                        ?>
                    </h1>

<?php

$oProperty = Core_Entity::factory('Property', 1);
$aPropertyValues = $oProperty->getValues(CURRENT_STRUCTURE_ID);
if(isset($aPropertyValues[0]->value) && $aPropertyValues[0]->value > 0){
    Core_Entity::factory('Document',$aPropertyValues[0]->value)->execute();
}

?>


                </div>
            </div>
        </section>
    </div>
</div>

<?php
Core_Page::instance()->execute();
?>