<?php
$structure = Core_Entity::factory('Structure',CURRENT_STRUCTURE_ID);
    $Informationsystem_Controller_Show = Core_Page::instance()->object;

    if($Informationsystem_Controller_Show->item > 0)
    {
        $i_item = Core_Entity::factory('Informationsystem_item',$Informationsystem_Controller_Show->item);
 
    }

?>
<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content main-picture__content_inner-page">
            <!-- <img src="img/slide-1.jpg" alt=""> -->
            <div class="max-width mt-0">
                <div class="main-picture__content-text main-picture__content-text_inner-page">
                    <h1 class="main-picture__content-title">
                        <?php
                          if($structure->parent_id!=0)
                          {
                            $parent = Core_Entity::factory('Structure',$structure->parent_id);
                            echo $parent->name; ?>

                            <div class="bread-crumbs">
                                <?php echo $structure->name; ?>
                                
                            </div>
                        <?php
                          }
                          else{
                             echo $structure->name;
                          }
                        

                          if(isset($i_item))
                        {?>
                            <div class="bread-crumbs"><?
                            echo $i_item->name; ?></div> <?

                             }

                        ?>
                    </h1>

<?php
   if(isset($i_item))
   {
       echo $i_item->description;

   }
?>


                </div>
            </div>
        </section>
    </div>
</div>

<?php
Core_Page::instance()->execute();
?>