<div class="main-picture-section">
    <div class="main-picture">
        <section class="main-picture__content">
            <!-- <img src="img/slide-1.jpg" alt=""> -->
            <div class="max-width text-left">
                <div class="main-picture__content-text">
                <?php
                Core_Entity::factory('Document',7)->execute();

                ?>
                    <div id="doctorMore" class="hiding-content">
                        <?php
                Core_Entity::factory('Document',8)->execute();

                ?>
                        <a href="/o-doktore/professionalnyj-put/" class="button_link about-doctor-link">о докторе</a>
                    </div>
                    <button type="button" data-toggle="collapse" class="hiding-button button"
                        data-target="#doctorMore" aria-controls="doctorMore">
                        подробнее
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="achievements-section">
    <div class="achievements">


        <?php
// Достижения
if (Core::moduleIsActive('informationsystem'))
{
$Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
Core_Entity::factory('Informationsystem', 1)
);
$Informationsystem_Controller_Show
->xsl(
    Core_Entity::factory('Xsl')->getByName('ДостиженияНаГлавной')
)
->groupsMode('none')
->group(FALSE)
->limit(5)
->show();
}
?>

    </div>
    <div class="content-section content-bg">
        <div class="max-width-content">
            <?php
            Core_Entity::factory('Document',9)->execute();
            ?>
        </div>
    </div>
</div>
<div class="service-block">
    <div class="services max-width-small row">
       
        <?php
// что лечим
if (Core::moduleIsActive('informationsystem'))
{
$Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
Core_Entity::factory('Informationsystem', 3)
);
$Informationsystem_Controller_Show
->xsl(
    Core_Entity::factory('Xsl')->getByName('ЧтоЛечимНаГлавной')
)
->groupsMode('none')
->group(FALSE)
->limit(12)
->show();
}
?>
    </div>
</div>

<div class="reviews-section">
    <div class="max-width-small-content">
        <h2 class="caption">ОТЗЫВЫ</h2>
        <div class="reviews-slider owl-carousel owl-theme">
          

            <?php
// Отзывы
if (Core::moduleIsActive('informationsystem'))
{
	$Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
		Core_Entity::factory('Informationsystem', 2)
	);
	$Informationsystem_Controller_Show
		->xsl(
			Core_Entity::factory('Xsl')->getByName('ОтзывыНаГлавной')
		)
		->groupsMode('none')
		->itemsForbiddenTags(array('text'))
		->group(FALSE)
		->limit(5)
		->show();
}
?>

          

        </div>
        <a href="/otzyvy/" class="button_link button_link-all-reviews">читать все отзывы</a>
    </div>
</div>
<div class="articles-section">
    <div class="max-width-small-content">
        <ul class="nav articles-tabs nav-pills row" id="pills-tab" role="tablist">

            <li class="nav-item col-sm-4">
                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-video" role="tab"
                    aria-controls="pills-profile" aria-selected="false">наши видео</a>
            </li>
    
            <li class="nav-item col-sm-4">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">сложные случаи</a>
            </li>
            <li class="nav-item col-sm-4">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">архив операций</a>
            </li>
        </ul>
        <div class="tab-content articles-tabs-content atc-mainpage" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <?php
                $Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
                    Core_Entity::factory('Informationsystem', 9)
                 );
                 $Informationsystem_Controller_Show
                    ->xsl(
                       Core_Entity::factory('Xsl')->getByName('ВидеоНаГлавной')
                    )
                    ->groupsMode('none')
                    ->itemsForbiddenTags(array('text'))
                    ->itemsProperties(TRUE)
                    ->group(FALSE)
                    ->limit(20);
        
                 $Informationsystem_Controller_Show
                    ->informationsystemItems()
                    ->queryBuilder()
                    ->leftJoin('informationsystem_item_properties', 'informationsystem_items.informationsystem_id', '=', 'informationsystem_item_properties.informationsystem_id')
                    ->leftJoin('property_value_ints', 'informationsystem_items.id', '=', 'property_value_ints.entity_id',
                    array(
                       array('AND' => array('informationsystem_item_properties.property_id', '=', Core_QueryBuilder::expression('`property_value_ints`.`property_id`')))
                       )
                    )
                    
                    ->where('informationsystem_item_properties.property_id', '=', 4)
                    
                    ->where('property_value_ints.value', '=', '1');
                    // ->clearOrderBy()
                    //->orderBy('RAND()');
        
                    $Informationsystem_Controller_Show->show();
             ?>
             </div>


            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
               <?php
                $Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
                    Core_Entity::factory('Informationsystem', 7)
                );
                $Informationsystem_Controller_Show
                    ->xsl(
                        Core_Entity::factory('Xsl')->getByName('СложныеСлучаиАнонс')
                    )
                    ->groupsMode('none')
                    ->itemsForbiddenTags(array('text'))
                    ->group(12)
                    ->limit(10)
                    ->show();    
            ?>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <?php
                $Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
                    Core_Entity::factory('Informationsystem', 7)
                );
                $Informationsystem_Controller_Show
                    ->xsl(
                        Core_Entity::factory('Xsl')->getByName('АрхивАнонс')
                    )
                    ->groupsMode('none')
                    ->itemsForbiddenTags(array('text'))
                    ->group(13)
                    ->limit(10)
                    ->show();    
            ?>    
            
            </div>

        </div>
    </div>
</div>